:root {
   --accent:   #FFCC66;
   --bg:       #1F2430;
   --fg:       #CBCCC6;
   --ui:       #707A8C;

   --tag:      #5CCFE6;
   --func:     #FFD580;
   --entity:   #73D0FF;
   --string:   #BAE67E;
   --regexp:   #95E6CB;
   --markup:   #F28779;
   --keyword:  #FFA759;
   --special:  #FFE6B3;
   --comment:  #5C6773;
   --constant: #D4BFFF;
   --operator: #F29E74;
   --error:    #FF3333

   --added:    #A6CC70;
   --modified: #77A8D9;
   --removed:  #F27983;
}
