/******************************************************************************/
:root {
   --multirow-n-rows: 3;
   --multirow-tab-min-width: 100px;
   --multirow-tab-dynamic-width: 1;
}

#tabbrowser-tabs {
   min-height: unset !important;
   padding-inline-start: 0px !important
}

@-moz-document url(chrome://browser/content/browser.xhtml) {
   #scrollbutton-up~spacer, #scrollbutton-up, #scrollbutton-down {
      display: var(--scrollbutton-display-model, initial)
   }
   scrollbox[part][orient="horizontal"] {
      display: flex;
      flex-wrap: wrap;
      overflow-y: auto;
      max-height: calc(var(--tab-min-height) * var(--multirow-n-rows));
      scrollbar-color: currentColor transparent;
      scrollbar-width: thin;
   }
}

.scrollbox-clip[orient="horizontal"], #tabbrowser-arrowscrollbox {
   overflow: -moz-hidden-unscrollable;
   display: block;
   --scrollbutton-display-model: none;
}

.tabbrowser-tab {
   height: var(--tab-min-height);
}

#tabbrowser-tabs .tabbrowser-tab[pinned] {
   position: static !important;
   margin-inline-start: 0px !important;
}

.tabbrowser-tab[fadein]:not([pinned]) {
   min-width: var(--multirow-tab-min-width) !important;
   flex-grow: var(--multirow-tab-dynamic-width);
   /*
      Uncomment to enable full-width tabs, also makes tab dragging a tiny bit more sensible
      Don't set to none or you'll see errors in console when closing tabs
   */
   /*max-width: 100vw !important;*/
}

.tabbrowser-tab>stack {
   width: 100%;
   height: 100%
}

#alltabs-button, :root:not([customizing]) #TabsToolbar #new-tab-button, #tabbrowser-arrowscrollbox>spacer, .tabbrowser-tab::after {
   display: none !important
}

/** Cole's Tab Fix **/

.titlebar-spacer {
   display: none;
}

.titlebar-buttonbox-container {
   overflow: hidden;
}

.titlebar-buttonbox {
   max-height: 40px;
}
