:root {
  --hero-pos: 62%;
  --hero-width: 350px;
  --title-font-size: 48px;
  --subtext-font-size: 16px;
  --button-font-size: 18px;
  --pink: #ff2aae;
  --blue: rgb(41, 150, 253);
  --yellow: rgb(242, 255, 31);
  --cyan: rgb(7, 181, 218);
  --middle-collum-layout: 3fr 2fr 6fr;
  --top-height: calc(100vw * 490 / 1036);
  --middle-height: calc(100vw * 511 / 1071);
  --bottom-height: calc(100vw * 508 / 1071);
}
html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
}
body {
  overflow-y: visible;
}
body > div {
  background-size: cover !important;
  display: grid;
  position: relative;
}
.hero {
  position: absolute;
  width: var(--hero-width);
  left: var(--hero-pos);
  z-index: 1;
}
.multi {
  position: absolute;
  left: 2vw;
  top: -14vw;
  z-index: 1;
  width: 38vw;
}
.build {
  position: absolute;
  right: 2vw;
  bottom: -4vw;
  z-index: 1;
  width: 50vw;
}
.logo {

}
.span-as-block span {
  display: block;
}
button[name="I want it!"] {
  border-radius: 500px;
  /* Good ol' CSS */
  font-size: var(--button-font-size);
  background: white;
  color: var(--pink);
  padding: 10px 40px;
  border: 2px solid white;
  font-weight: 700;
  margin: 20px;
}
.title {
  font-size: var(--title-font-size);
  font-weight: bold;
  font-style: italic;
}
.subtext {
  font-size: var(--subtext-font-size);
}
.top {
  background: url('assets/backgrounds/bg_top.jpg');
  height: var(--top-height);
  grid-template-columns: 3fr 2fr;
}
.top-content {
  padding: 10px;
  padding-top: 60px;
  text-align: right;
}
.middle {
  background: url('assets/backgrounds/bg_middle.jpg');
  height: var(--middle-height);
  grid-template-columns: var(--middle-collum-layout);
  grid-template-rows: 60px 1fr 40px;
  grid-template-areas:
    ".  .  mp"
    "mc .  mp"
    ".  .  mb";
}
.middle-content {
  grid-area: mc;
  text-align: right;
  padding: 20px;
}
.middle-picture {
  text-align: left;
  padding: 20px;
  grid-area: mp;
}
.middle-bottom-content {
  grid-area: mb;
  text-align: left;
}
.pink-title {
  font-size: calc(var(--title-font-size) - 10px);
  font-weight: bold;
  font-style: italic;
  color: var(--pink);
  font-family: 'Contrail One', cursive;
}
.blue-title {
  font-size: calc(var(--title-font-size) - 10px);
  font-weight: bold;
  font-style: italic;
  color: var(--blue);
  font-family: 'Contrail One', cursive;
  margin-bottom: 5px;
}
.yellow-title {
  font-size: calc(var(--title-font-size) - 10px);
  font-weight: bold;
  font-style: italic;
  color: var(--yellow);
  font-family: 'Contrail One', cursive;
  margin-bottom: 5px;
}
.cyan-title {
  font-size: calc(var(--title-font-size) - 10px);
  font-weight: bold;
  font-style: italic;
  color: var(--cyan);
  font-family: 'Contrail One', cursive;
  margin-bottom: 5px;
}
.chat {
  width: 35vw;
}
.bottom {
  background: url('assets/backgrounds/bg_bottom.jpg');
  height: var(--middle-height);
  grid-template-columns: var(--middle-collum-layout);
  grid-template-rows: 1fr 3fr 2fr;
  grid-template-areas:
    ".  .  bt"
    ".  .  . "
    "bl .  . ";
}
.bottom-top-content {
  grid-area: bt;
}
.bottom-left-content {
  grid-area: bl;
  text-align: right;
}
.get-it {
  padding: 10%;
  display: grid;
  grid-template-columns: 5fr 20px 4fr;
  grid-template-areas:
  "l . r"
  "e . d";
}
.get-itt {
  padding-right: 10px;
  word-wrap: break-word;
}
.left {
  grid-area: l;
  text-align: right;
}
.right {
  padding-top: calc(1vw / 2);
  /* Corrects the font size thingy */
  grid-area: r;
}
.appstore {
  width: 16vw;
}
.tiny {
  font-size: var(--button-font-size);
}
.email {
  grid-area: e;
  text-align: right;
}
.doit {
  grid-area: d;
}
.doitt {
  border-top-right-radius: 500px;
  border-bottom-right-radius: 500px;
  padding: 15px;
  border: none;
	background: linear-gradient(180deg, #5AF6D2 0%, #50CBE5 100%);
  font-weight: bold;
  color: white;
}
.emayl {
  border-top-left-radius: 500px;
  border-bottom-left-radius: 500px;
  padding: 15px;
  border: none;
  background: rgb(226, 244, 254);
  font-style: italic;
  color: #333;
  min-width: 20vw;
}
.footer {
  padding: 40px;
  text-align: center;
  background: var(--pink);
}
.footer span {
  color: white;
}
.madewithlove {
  display: inline;
  height: 24px;
}
