:root {
  --top-content-padding: 10px;
  --top-content-padding-top: 3vw;
  --top-button-padding: 10px 40px;
  --top-button-border: 2px solid white;
  --top-button-font-size: inherit;
  --top-gtc: 3fr 2fr;
  --top-gtr: Get icced;
  --top-gta: "l ." "t ." "s ." "b .";
  --top-text-align: right;
  --logo-right: 0px;
  --logo-height: 98px;
  --top-content-height: 50%;
  --middle-gtc: 3fr 2fr 6fr;
  --middle-gtr: 60px 1fr 40px;
  --middle-gta: ".  .  mp" "mc .  mp" ".  .  mb";
  --bottom-gta: ".  .  bt" ".  .  . " "bl .  . ";
  --color-title-font: 'Contrail One', cursive;
  --color-title-font-size: var(--title-font-size);
  --logo-width: auto; }

.top .content span, .middle .content span, .bottom .top-content span, .bottom .left-content span, .even-lower .left span, .even-lower .right span {
  display: block; }

.tiny, .even-lower .email input {
  font-size: var(--button-font-size); }

.title {
  font-size: var(--title-font-size);
  font-weight: bold;
  font-style: italic; }

.subtext {
  font-size: var(--subtext-font-size); }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */ }

.pink-title, .blue-title, .yellow-title, .cyan-title {
  font-size: var(--color-title-font-size);
  font-weight: bold;
  font-style: italic;
  font-family: var(--color-title-font); }

.pink-title {
  color: #ff2aae; }

.blue-title {
  color: #2996fd;
  margin-bottom: 5px; }

.yellow-title {
  color: #f2ff1f;
  margin-bottom: 5px; }

.cyan-title {
  color: #07b5da;
  margin-bottom: 5px; }

@media (max-width: 400px) {
  :root {
    --hero-width: 20vw;
    --hero-right: 16%; }
  :root {
    --title-font-size: 5vw; }
  :root {
    --subtext-font-size: 3vw; }
  :root {
    --logo-height: 50px; }
  :root {
    --top-content-height: 40%; }
  :root {
    --top-button-font-size: 2vw;
    --top-button-padding: 5px 20px; } }

@media (min-width: 400px) and (max-width: 600px) {
  :root {
    --hero-width: 100px;
    --hero-right: 16%; }
  :root {
    --title-font-size: 5vw; }
  :root {
    --subtext-font-size: 3vw; }
  :root {
    --logo-height: 70px; }
  :root {
    --top-content-height: 40%; }
  :root {
    --top-button-font-size: 3vw;
    --top-button-padding: 10px 40px; } }

@media (max-width: 700px) {
  :root {
    --middle-gtc: 2fr 10px 3fr; }
  :root {
    --middle-gtr: 10px 1fr 40px; }
  :root {
    --middle-gta: ".  . mp" "mc mc mp" ".  .  mb"; }
  :root {
    --bottom-gta: ".  .  bt" ".  .  . " "bl .  . "; } }

@media (min-width: 600px) and (max-width: 900px) {
  :root {
    --hero-width: 20%;
    --hero-right: 20%; }
  :root {
    --title-font-size: 5vw; }
  :root {
    --subtext-font-size: 3vw; } }

@media (min-width: 900px) and (max-width: 1200px) {
  :root {
    --hero-width: 20%;
    --hero-right: 20%; }
  :root {
    --title-font-size: 40px; }
  :root {
    --subtext-font-size: 18px; } }

@media (min-width: 1200px) and (max-width: 1800px) {
  :root {
    --hero-width: 20%;
    --hero-right: 20%; }
  :root {
    --title-font-size: 40px; } }

/*
@media min-width: $bp-l-5) and (max-width: $bp-u-5) {

}
*/
/*
* {
  transition: all .3s;
}
*/
html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  overflow: hidden; }

body {
  overflow-y: visible; }
  body > div {
    background-size: cover !important;
    display: grid;
    position: relative; }

.top {
  background: url("assets/backgrounds/bg_top.jpg");
  height: 47.2973vw;
  display: block; }
  .top .content {
    display: grid;
    grid-template-columns: var(--top-gtc);
    grid-template-rows: var(--top-gtr);
    text-align: var(--top-text-align);
    height: var(--top-content-height);
    grid-template-areas: var(--top-gta); }
    .top .content .topbutton-container {
      grid-area: b; }
      .top .content .topbutton-container .topbutton {
        border-radius: 500px;
        background: white;
        color: #ff2aae;
        padding: var(--top-button-padding);
        border: var(--top-button-border);
        font-weight: 700;
        font-size: var(--top-button-font-size); }
    .top .content .logo-container {
      position: relative;
      height: var(--logo-height);
      padding-top: 30px; }
      .top .content .logo-container .logo {
        grid-area: l;
        right: var(--logo-right);
        height: 100%; }
    .top .content .top-title {
      grid-area: t; }
    .top .content .top-subtext {
      grid-area: s; }

.hero {
  position: absolute;
  z-index: 1;
  width: var(--hero-width);
  right: var(--hero-right); }

.multi {
  position: absolute;
  left: 2vw;
  top: -14vw;
  z-index: 1;
  width: 38vw; }

.build {
  position: absolute;
  right: 2vw;
  bottom: -4vw;
  z-index: 1;
  width: 50vw; }

.middle {
  background: url("assets/backgrounds/bg_middle.jpg");
  height: 47.71242vw;
  grid-template-columns: var(--middle-gtc);
  grid-template-rows: var(--middle-gtr);
  grid-template-areas: var(--middle-gta); }
  .middle .content {
    grid-area: mc;
    text-align: right;
    padding: 20px; }
  .middle .picture {
    text-align: left;
    padding: 20px;
    grid-area: mp; }
  .middle .bottom-content {
    grid-area: mb;
    text-align: left; }

.chat {
  width: 35vw; }

.bottom {
  background: url("assets/backgrounds/bg_bottom.jpg");
  height: 47.43231vw;
  grid-template-columns: var(--middle-gtc);
  grid-template-rows: 1fr 3fr 2fr;
  grid-template-areas: var(--bottom-gta); }
  .bottom .top-content {
    grid-area: bt; }
  .bottom .left-content {
    grid-area: bl;
    text-align: right; }
  .bottom .multi {
    position: absolute;
    left: 2vw;
    top: -14vw;
    z-index: 1;
    width: 38vw; }
  .bottom .build {
    position: absolute;
    right: 2vw;
    bottom: -4vw;
    z-index: 1;
    width: 50vw; }

.even-lower {
  padding: 10%;
  display: grid;
  grid-template-columns: 5fr 20px 4fr;
  grid-template-areas: "l . r" "e . d"; }
  .even-lower .left {
    grid-area: l;
    text-align: right; }
    .even-lower .left .title-bottom {
      padding-right: 10px;
      word-wrap: break-word; }
  .even-lower .right {
    /* Corrects the font size thingy */
    grid-area: r; }
    .even-lower .right .appstore {
      width: 16vw; }
  .even-lower .email {
    grid-area: e;
    text-align: right; }
    .even-lower .email input {
      border-top-left-radius: 500px;
      border-bottom-left-radius: 500px;
      padding: 15px;
      border: none;
      background: #e2f4fe;
      font-style: italic;
      color: #333;
      min-width: 20vw; }
  .even-lower .pim {
    grid-area: d; }
    .even-lower .pim button {
      border-top-right-radius: 500px;
      border-bottom-right-radius: 500px;
      padding: 15px;
      border: none;
      background: linear-gradient(180deg, #5AF6D2 0%, #50CBE5 100%);
      font-weight: bold;
      color: white; }

.footer {
  padding: 40px;
  text-align: center;
  background: #ff2aae; }
  .footer span {
    color: white; }
  .footer .madewithlove {
    display: inline;
    height: 24px; }
