:root {
  --top-content-padding: 10px;
  --top-content-padding-top: 3vw;
  --top-button-padding: 10px 40px;
  --top-button-border: 2px solid white;
  --top-button-font-size: inherit;
  --top-gtc: 3fr 2fr;
  --top-gtr: Get icced;
  --top-gta: "l ." "t ." "s ." "b .";
  --top-text-align: right;
  --logo-right: 0px;
  --logo-height: 98px;
  --top-content-height: 50%;
  --middle-gtc: 3fr 2fr 6fr;
  --middle-gtr: 60px 1fr 40px;
  --middle-gta: ".  .  mp" "mc .  mp" ".  .  mb";
  --color-title-font: 'Contrail One', cursive;
  --color-title-font-size: var(--title-font-size);
  --logo-width: auto; }

.tiny {
  font-size: var(--button-font-size); }

.title {
  font-size: var(--title-font-size);
  font-weight: bold;
  font-style: italic; }

.subtext {
  font-size: var(--subtext-font-size); }
