{
  "extends": "airbnb-base",
  "rules": {
    "import/no-extraneous-dependencies": "off",
    "arrow-parens": ["error", "as-needed"],
    "max-len": ["warn", { "code": 120 }],
    "function-paren-newline": "off",
    "no-underscore-dangle": "off",
    "import/no-unresolved": "off",
    "quotes": ["error", "double"],
    "no-param-reassign": "off",
    "no-multi-assign": "off",
    "indent": ["error", 2],
    "import/order": "off",
    "no-return-assign": 1,
    "no-plusplus": "off",
    "no-console": "off",
    "camelcase": "off",
    "no-empty": "off"
  },
  "env": {
    "browser": true
  }
}
