[submodule "sol/playground/lib/forge-std"]
   path = sol/playground/lib/forge-std
   url = https://github.com/foundry-rs/forge-std
[submodule "sol/hello_ll/lib/forge-std"]
   path = sol/hello_ll/lib/forge-std
   url = https://github.com/foundry-rs/forge-std
