@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900');
        .material-icons {
            font-family: 'Material Icons';
            font-weight: normal;
            font-style: normal;
            font-size: 24px;  /* Preferred icon size */
            display: inline-block;
            line-height: 1;
            text-transform: none;
            letter-spacing: normal;
            word-wrap: normal;
            white-space: nowrap;
            direction: ltr;
            webkit-font-smoothing: antialiased;
            text-rendering: optimizeLegibility;
            -moz-osx-font-smoothing: grayscale;
            font-feature-settings: 'liga';
        }
        .icon48 {
            font-size:48px;
        }
        html, body {
            height:100%;
            width:100%;
            margin:0px;
        }
        body div {
            font-family:'Source Sans Pro', sans-serif;
        }
        @keyframes snaptortoise {
            /*Hey Snaptortoise! Sorry I stole some of your CSS. I just thought that it would be really fitting for what I'm calling this. Let me know if you'd like me to remove this because I will.
            */
            0% { background-position: 0 0;}
            100% { background-position: 300px -300px;}
        }
        @keyframes glow {
            0%{
                background:rgba(210, 10, 80, 0.7);
            }
            33% {
                background:rgba(210, 10, 10, 0.6);
            }
            66%{
                background:rgba(210, 10, 30, 0.7);
            }
            100%{
                background:rgba(210, 10, 80, 0.7);
            }
        }
        .title {
            font-weight:900;
            font-size:60px;
            height:50%;
            background-color: #6DB3F2;
            background-image:url(stripe.png);
            animation:snaptortoise 10s infinite linear;
            box-shadow:0px 0px 6px grey;
        }
        .title span {
            color:#f9d909;
        }
        .titleContent {
            color:white;
            height:100%;
            width:100%;
            display:flex;
            justify-content:center;
            align-items:center;
            animation:glow 10s infinite linear;
        }
        .items {
            height:150px;
            margin:10px 0px;
            display:flex;
            justify-content:center;
        }
        .items div {
            cursor:pointer;
            margin:0px 2px;
            height:140px;
            width:140px;
            border:2px solid black;
            display:flex;
            justify-content:center;
            align-items:center;
            font-size:3px;
            user-select:none;
            transition:all 0.3s;
        }
        .text {
            height:200px;
            margin:10px 10%;
            border-top:2px solid #f1d204;
            display:flex;
            justify-content:center;
            align-items:center;
            font-size:18px;
            font-weight:400;
        }
        .text div {
            display:none;
            position:absolute;
        }
        .goBack {
            margin-top: 30px;
            display: block;
            font-family: 'Source Sans Pro', sans-serif;
            background: #eed002;
            border: 2px solid #f1d204;
            border-radius: 2px;
            color: white;
            padding: 10px 50px;
            letter-spacing: 2px;
            font-weight: 700;
            font-size: 20px;
            transition: 0.2s all;
        }
        .goBack:hover {
            background: transparent;
            color: white;
        }
        .floodHistory {
            margin-top: 30px;
            display: block;
            font-family: 'Source Sans Pro', sans-serif;
            animation:glow 2s infinite linear;
            border: 2px solid black;
            border-radius: 2px;
            color: white;
            padding: 10px 50px;
            letter-spacing: 2px;
            font-weight: 700;
            font-size: 20px;
            transition: 0.2s all;
        }
        @media screen and (max-device-width: 480px) {
            .title {
                font-size: 100px;
                height:30%;
            }
            .text {
                font-size:40px;
                height:400px;
            }
        }
