:root {
  --header-height: 1px;
}
html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#header {
  background: black;
  height: var(--header-height)
}
#calculator {
  height: calc(100% - var(--header-height));
  width: 100%;
}
