@import 'variables';
@import 'breakpoints';
@import 'titles';
// Media
@media (max-width: 330px) {
  @include middle-gtr-override(10px 100px 10px);
}
@media (max-width: $bp-u-0) {
  // 0 - 400
  @include tophero(20vw, 10%);
  @include top-gtc(2fr 1fr);
  @include title-font-size(5vw);
  @include subtext-font-size(2.2vw);
  @include logo(40px);
  @include top-content-height(40%);
  @include top-button-visibility(hidden);
  @include middle-gtr(10px 1fr 20px);
}
@media (max-width: 520px) {
  // Button Wrapping
  @include el-gta(
    "l . r"
    "e e e"
    "d d d"
  );
  @include bottom-button-border-radius(500px, 500px);
  @include bottom-buttons-width(100%);
  @include pim-margin-top(10px);
}
@media (min-width: $bp-l-1) and (max-width: $bp-u-1) {
  // 400 - 600
  @include tophero(90px, 15%);
  @include title-font-size(5vw);
  @include subtext-font-size(2vw);
  @include logo(70px);
  @include top-content-height(40%);
  @include top-button-visibility(hidden);
  @include middle-gtr(10px 1fr 25px);
}
@media (max-width: 700px) {
  @include middle-gtc(2fr 10px 3fr);
  @include middle-gtr(10px 1fr 30px);
  @include middle-gta(
    ".  . mp"
    "mc mc mp"
    ".  .  mb"
  );
  @include bottom-gta(
    ".  .  bt"
    ".  .  . "
    "bl .  . "
  );
}
@media (min-width: $bp-l-2) and (max-width: $bp-u-2) {
  // 600 - 900
  @include tophero(20%, 18%);
  @include title-font-size(5vw);
  @include subtext-font-size(2vw);
  .top {
    .content {
      .top-subtext {
        padding-left: 3vw;
      }
    }
  }
}
@media (min-width: $bp-l-3) and (max-width: $bp-u-3) {
  // 900 - 1200
  @include tophero(20%, 18%);
  @include title-font-size(40px);
  @include subtext-font-size(2vw);
  .top {
    .content {
      .top-subtext {
        padding-left: 5vw;
      }
    }
  }
}
@media (min-width: $bp-l-4) and (max-width: $bp-u-4) {
  // 1200 - 1800
  .top {
    .content {
      .top-subtext {
        padding-left: 10vw;
      }
    }
  }
  @include tophero(20%, 18%);
  @include title-font-size(40px);
}
html, body {
  position: relative;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
}
body {
    overflow-y: visible;
    & > div {
    background-size: cover !important;
    display: grid;
    position: relative;
  }
}
.top {
  background: url('assets/backgrounds/bg_top.jpg');
  height: $top-height;
  display: block;
  .content {
    display: grid;
    grid-template-columns: var(--top-gtc);
    grid-template-rows: var(--top-gtr);
    text-align: var(--top-text-align);
    height: var(--top-content-height);
    .topbutton-container {
      grid-area: b;
      .topbutton {
        border-radius: 500px;
        background: white;
        color: $pink;
        padding: var(--top-button-padding);
        border: var(--top-button-border);
        font-weight: 700;
        font-size: var(--top-button-font-size);
        visibility: var(--top-button-visibility);
      }
    }
    .logo-container {
      position: relative;
      height: var(--logo-height);
      padding-top: 30px;
      .logo {
        grid-area: l;
        right: var(--logo-right);
        height: 100%;
      }
    }
    .top-title {
      grid-area: t;
    }
    .top-subtext {
      grid-area: s
    }
    grid-template-areas: var(--top-gta);
    @extend %span-block;
  }
}
.hero {
  position: absolute;
  z-index: 1;
  width: var(--hero-width);
  right: var(--hero-right);
  top: 10px;
}
.multi {
  position: absolute;
  left: 2vw;
  top: -14vw;
  z-index: 1;
  width: 38vw;
}
.build {
  position: absolute;
  right: 2vw;
  bottom: -4vw;
  z-index: 1;
  width: 50vw;
}
.middle {
  background: url('assets/backgrounds/bg_middle.jpg');
  height: $middle-height;
  grid-template-columns: var(--middle-gtc);
  grid-template-rows: var(--middle-gtr);
  grid-template-areas: var(--middle-gta); // No, not Grand Theft Auto
  .content {
    grid-area: mc;
    text-align: right;
    padding: 20px;
    @extend %span-block;
  }
  .picture {
    text-align: left;
    padding: 20px;
    grid-area: mp;
  }
  .bottom-content {
    grid-area: mb;
    text-align: left;
  }
}
.chat {
  width: 35vw;
}
.bottom {
  background: url('assets/backgrounds/bg_bottom.jpg');
  height: $bottom-height;
  grid-template-columns: var(--middle-gtc);
  grid-template-rows: 1fr 3fr 2fr;
  grid-template-areas: var(--bottom-gta);
  .top-content {
    grid-area: bt;
    @extend %span-block;
  }
  .left-content {
    grid-area: bl;
    text-align: right;
    @extend %span-block;
  }
  .multi {
    position: absolute;
    left: 2vw;
    top: -14vw;
    z-index: 1;
    width: 38vw;
  }
  .build {
    position: absolute;
    right: 2vw;
    bottom: -4vw;
    z-index: 1;
    width: 50vw;
  }
}
.even-lower {
  padding: 10%;
  display: grid;
  grid-template-columns: 5fr 20px 4fr;
  grid-template-areas: var(--el-gta);
  .left {
    grid-area: l;
    text-align: right;
    @extend %span-block;
    .title-bottom {
      padding-right: 10px;
      word-wrap: break-word;
    }
  }
  .right {
    // padding-top: calc(1vw / 2);
    /* Corrects the font size thingy */
    grid-area: r;
    @extend %span-block;
    .appstore {
      width: 16vw;
    }
  }
  .email {
    grid-area: e;
    text-align: right;
    input {
      border-radius: var(--email-border-radius);
      padding: 15px;
      border: none;
      background: rgb(226, 244, 254);
      font-style: italic;
      color: #333;
      min-width: 30vw;
      width: calc(var(--email-width) - 12%);
      @extend .tiny;
    }
  }
  .pim {
    grid-area: d;
    button {
      border-radius: var(--pim-border-radius);
      padding: 15px;
      border: none;
      background: linear-gradient(180deg, #5AF6D2 0%, #50CBE5 100%);
      font-weight: bold;
      color: white;
      width: var(--pim-width);
      margin-top: var(--pim-margin-top);
    }
  }
}
.footer {
  padding: 40px;
  text-align: center;
  background: $pink;
  span {
    color: white;
  }
  .madewithlove {
    display: inline;
    height: 24px;
  }
}
