// Breakpoints
$bp-u-0: 400px;
$bp-l-1: $bp-u-0;
$bp-u-1: 600px;
$bp-l-2: $bp-u-1;
$bp-u-2: 900px;
$bp-l-3: $bp-u-2;
$bp-u-3: 1200px;
$bp-l-4: $bp-u-3;
$bp-u-4: 1800px;
$bp-l-5: $bp-u-4;

// Image Heights
$top-height: 100vw * 490 / 1036;
$middle-height: 100vw * 511 / 1071;
$bottom-height: 100vw * 508 / 1071;

$button-font-size: 18px;

// Colors
$pink: #ff2aae;
$blue: rgb(41, 150, 253);
$yellow: rgb(242, 255, 31);
$cyan: rgb(7, 181, 218);

:root {
  --top-content-padding: 10px;
  --top-content-padding-top: 3vw;
  --top-button-padding: 10px 40px;
  --top-button-border: 2px solid white;
  --top-button-font-size: inherit;
  --top-gtc: 3fr 2fr;
  --top-gtr: Get icced;
  --top-gta:
  "l ."
  "t ."
  "s ."
  "b .";
  --top-text-align: right;
  --logo-right: 0px;
  --logo-height: 98px;
  --top-content-height: 50%;
  --middle-gtc: 3fr 2fr 6fr;
  --middle-gtr: 60px 1fr 50px;
  --middle-gta:
    ".  .  mp"
    "mc .  mp"
    ".  .  mb";
  --bottom-gta:
    ".  .  bt"
    ".  .  . "
    "bl .  . ";
    --color-title-font: 'Contrail One', cursive;
    --color-title-font-size: var(--title-font-size);
    --logo-width: auto;
    --el-gta:
      "l . r"
      "e . d";
    --email-border-radius: 500px 0px 0px 500px;
    --pim-border-radius: 0px 500px 500px 0px;
    --email-width: auto;
    --pim-width: auto;
}
@mixin title-font-size($size) {
  :root {
    --title-font-size: $size;
  }
}
@mixin subtext-font-size($size) {
  :root {
    --subtext-font-size: $size;
  }
}
@mixin tophero($width, $right) {
  :root {
    --hero-width: $width;
    --hero-right: $right;
  }
}
@mixin top-button($font-size, $margin) {
  :root {
    --top-button-font-size: $font-size;
    --top-button-padding: $margin;
  }
}
@mixin top-gtc($gtc) {
  :root {
    --top-gtc: $gtc;
  }
}
@mixin logo($height) {
  :root {
    --logo-height: $height;
  }
}
@mixin top-content-padding-top($height) {
  :root {
    --top-content-padding-top: $height;
  }
}
@mixin top-content-height($height) {
  :root {
    --top-content-height: $height;
  }
}
@mixin top-button-visibility($thing) {
  :root {
    --top-button-visibility: $thing;
  }
}
// middle
@mixin middle-gtc($gtc) {
  :root {
    --middle-gtc: $gtc;
  }
}
@mixin middle-gtr($gtr) {
  :root {
    --middle-gtr: $gtr;
  }
}
@mixin middle-gtr-override($gtr) {
  :root {
    --middle-gtr: $gtr !important;
  }
}
@mixin middle-gta($gta) {
  :root {
    --middle-gta: $gta;
  }
}
@mixin bottom-gta($gta) {
  :root {
    --bottom-gta: $gta;
  }
}
@mixin el-gta($gta) {
  :root {
    --el-gta: $gta;
  }
}
@mixin bottom-button-border-radius($email, $pim) {
  :root {
    --email-border-radius: $email;
    --pim-border-radius: $pim;
  }
}
@mixin bottom-buttons-width($width) {
  :root {
    --email-width: $width;
    --pim-width: $width;
  }
}
@mixin pim-margin-top($height) {
  :root {
    --pim-margin-top: $height;
  }
}
%span-block {
  span {
    display: block;
  }
}
.tiny {
  font-size: var(--button-font-size);
}
.title {
  font-size: var(--title-font-size);
  font-weight: bold;
  font-style: italic;
}
.subtext {
  font-size: var(--subtext-font-size);
}
