:root {
  --div-padding: 10px;
  --div-height: 50%;
  --margin-height: 10px;
  --title-font-size: 40px;
  --subtext-font-size: 14px;

  --one-bg: linear-gradient(#ffde6d, #ffda5d);
  --one-padding-top: calc(var(--div-padding) * 3);
  --one-padding-bottom: var(--div-padding);
  --one-padding-left: calc(13% - var(--div-padding));
  --one-padding-right: calc(10% - var(--div-padding));
  --one-content-width: 60%;
  --IWI-font-size: 18px;

  --two-bg: #white;
  --three-bg: rgba(138, 234, 232, 0.9);
  --pink: #ff2aae;
  --blue: rgb(41, 150, 253);
}
html, body {
  overflow: hidden;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}
body {
  overflow-y: visible;
}
body > div {
  height: var(--div-height);
  padding: var(--div-padding);
  position: relative;
  overflow: hidden;
}
img {
}
/* ALL */
.title {
  font-size: var(--title-font-size);
  font-weight: bold;
  font-style: italic;
}
.margin-top {
  margin-top: var(--margin-height) !important;
}
.margin-bottom {
  margin-bottom: var(--margin-height) !important;
}
.subtext {
  font-size: var(--subtext-font-size);
}
.hero {
  position: absolute;
  height: 60%;
  left: calc(var(--one-content-width) + 2%);
  z-index: 1;
}
.halftones {
  position: absolute;
}
/* ONE */
.one {
  height: calc(var(--div-height) - var(--one-padding-top) - var(--one-padding-bottom));
  /* THAT's painful */
  padding-top: var(--one-padding-top);
  padding-bottom: var(--one-padding-bottom);
  padding-left: var(--one-padding-left);
  padding-right: var(--one-padding-right);
  background: var(--one-bg);
}
.one-content {
  width: var(--one-content-width);
  display: inline-block;
  text-align: right;
  position: relative;
}
.one-content span {
  margin: 0;
  display: block;
}
.i-want-it {
  border-radius: 500px;
  /* Good ol' CSS */
  font-size: var(--IWI-font-size);
  background: white;
  color: var(--pink);
  padding: 10px 40px;
  border: 2px solid white;
  font-weight: 700;
  margin: 20px;
}
.ht1 {
  height: 180%;
  left: -30%;
  top: -100%;
}
.ht12 {
  height: 160%;
  bottom: -90%;
  right: -10%;
}
/* TWO */
.two {
  height: calc(var(--div-height) * 2);
  background: var(--two-bg);
  padding: 0;
}
.ht2 {
  height: 120%;
  left: -15%;
  top: -60%;
}
.ht22 {
  height: 120%;
  right: -15%;
  bottom: -40%;
}
.two-content {
  margin-top: 40px;
  background: var(--two-bg);
  height: var(--div-height);
  padding: var(--div-padding);
  position: relative;
  overflow: hidden;
  width: 33%;
  text-align: right;
  display: inline-block;
}
.two-content span {
  margin: 0;
  display: block;
}
.pink-title {
  font-size: calc(var(--title-font-size) - 10px);
  font-weight: bold;
  font-style: italic;
  color: var(--pink);
  font-family: 'Contrail One', cursive;
}
.blue-title {
  font-size: calc(var(--title-font-size) - 10px);
  font-weight: bold;
  font-style: italic;
  color: var(--blue);
  font-family: 'Contrail One', cursive;
  margin-bottom: 5px;
}
.chat {
  position: absolute;
  top: 3%;
  right: 30%;
  height: 53%;
}
.multiple {
  position: absolute;
  top: 30%;
  left: 4%;
  height: 53%;
  z-index: 1;
}
.multiple-peers {
  z-index: 1;
  position: absolute;
  top: 53%;
  right: 8%;
  text-align: right;
}
.multiple-peers * {
  display: block;
}
.three {
  background: var(--three-bg);
  height: var(--div-height);
  padding: var(--div-padding);
  position: relative;
  overflow: hidden;
}
.
