html {
  transition: 0s;
}
html, body, .app {
  height: 100vh;
  width: 100vw;
  margin: 0;
}
.app {
  display: grid;
  background: #646458;
  grid-template-columns: 80px 1fr;
  grid-template-rows: 100vh;
  font-family: 'Montserrat', sans-serif;
  color:white;
}
* {
  transition: all .3s;
}
.sb {
  background: #48483B;
  grid-column: 1;
}
.content {
  padding: 5vw;
  display: grid;
  grid-template-columns: 55vw calc(45vw - 10vw - 5vw - 80px);
  grid-template-rows: 1fr 2fr;
  grid-column-gap: 5vw;
  grid-row-gap: 5vw;
  grid-template-areas:
  "m i"
  "m s";
}
.map {
  background: #A8A896;
  grid-area: m;
  position: relative;
}
.map object {
  height: 100%;
  width: 100%;
}
.card {
  box-shadow: 0px 16px 32px rgba(0, 0, 0, .08);
  padding: 4px 16px;
}
.info {
  background: #86826F;
  grid-area: i;
}
.subinfo {
  background: #86826F;
  grid-area: s;
}
.weight-500 {
  font-weight: 500;
}
.weight-600 {
  font-weight: 600;
}
.sub {
  color: rgba(255, 255, 255, 0.7);
}
.block {
  display: block;
}
#title {
  font-size: 50px;
}
.none {
  display: none;
}
#close-reading {
  font-size: 10px;
}
#close-reading:hover {
  font-size: 50px;
}
#ictime {
  transition: none;
  text-align: center;
  font-family: 'Roboto Mono', sans-serif;
  border-bottom: 2px solid white;
  margin-bottom: 10px;
  padding: 2px;
}
#sic {
  padding: 16px;
}
#ic span {
  display: block;
}
#ic span b {
  color: white;
}
#current span {
  display: block;
}
