html, body {
  margin: 0;
}
.container {
  position: relative;
}
.header * {
  display: inline-block;
}
.header br {
  display: none;
}
#svgcontainer {
  position: absolute;
  top: 0;
  left: 0;
}
