body,
html {
  margin    : 0;
  overflow-x: hidden;
}

body {
  background: linear-gradient(63.3deg, rgba(13, 14, 18, 1) 0%, rgba(27, 0, 20, 1) 100%);
  position  : relative;
}

.container {
  position  : relative;
  transition: all .2s;
}

.header {
  display              : grid;
  grid-template-columns: 2fr 1fr;
  z-index              : 1;
  position             : absolute;
  width                : 100%;
}

.header * {
  display: inline-block;
}

.header br {
  display: none;
}

.right {
  transition: all .2s;
}

.left a,
.left button,
.left input {
  height    : 120px;
  width     : 120px;
  display   : inline-block;
  border    : none;
  padding   : 0;
  text-align: center;
  margin    : 10px;
  color     : white;
  font-size : 2vw;
  transition: all .2s;
}

#download {
  z-index        : 1;
  display        : flex;
  align-items    : center;
  justify-content: center;
  background     : #55008A;
  position       : absolute;
  top            : 0;
  right          : 0;
}

.right {
  position  : relative;
  z-index   : 2;
  text-align: right;
}

#filebutton {
  background: #55008A;
}

#number {
  background: #464646;
}

#start {
  background: #6B007F;
  opacity   : 0;
}

#filebutton,
#start {
  cursor: pointer;
}

#file {
  display: none;
}

#svgcontainer {
  position: absolute;
  top     : 0;
  left    : 0;
}
